body{
    display: flex;
    flex-direction: column;
    overflow: auto;
    color: floralwhite;
}
.icon{
    width: 32px;
}
.focus{
    background-color: #5aa600;
}
.icon:hover{
    background-color: #5aa600;
}
.app{
    display: flex;
    flex-direction: row;
}
.modal{
    z-index: 10;
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(75, 75, 75);
    width: 100vw;
    height: 100vh;
}
.modal__result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}
.modal__result a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.save-button{
    margin-top: 3em;
    font-size: 1.4em;
    padding: .8em;
}
.left-form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: var(--right-form-width);
    height: 100vh;
    background-color: darkslategrey;
}
.board{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    width: calc(100vw - var(--right-form-width));
    height: 100vh;
    background-color: #e8e8e8;
}
.grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: transparent;
    width:32px;
    height: 32px;
    border: 1px solid grey;
}
.line{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 1px;
    background-color: transparent;
}
.row{
    background-color: transparent;
    width: 1px;
    height: 1px;
}
.radio{
    display: flex;
    flex-direction: row;
    font-size: .8rem;
    margin: 1em;
    justify-content: space-evenly;
}
.input-radio input{
    margin: 1em;
    transform: scale(2);
    border: none;
}
.background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.background input{
    width: 30%;
    height: 50px;
    margin: 1em;
}
.export-button{
    padding: .5em;
    margin: 2em;
    border: none;
    border-radius: 20px;
    width: 50%;
    font-size: 1.4em;
    transition: all .2s ease-in-out;
}
.export-button:hover {
    background-color: #5aa600;
}
.transparent{
    padding: 1em;
    border-radius: 20px;
    border:none;
}
.transparent:focus{
    background-color: #5aa600;
}