body{
    display: flex;
    flex-direction: column;
    overflow: auto;
    color: floralwhite;
}
img{
    width: 32px
}
.app{
    display: flex;
    flex-direction: row;
}
.modal{
    z-index: 10;
    position: fixed;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(75, 75, 75);
    width: 100vw;
    height: 100vh;
}
.modal__result{
    background-color: lightblue;
    width: auto;
    height: auto;
}
.left-form{
    width: var(--right-form-width);
    height: 100vh;
    background-color: darkslategrey;
}
.board{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    width: calc(100vw - var(--right-form-width));
    height: 100vh;
    background-color: #e8e8e8;
}
.grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: transparent;
    width:32px;
    height: 32px;
    border: 1px solid grey;

}
.line{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 1px;
}
.row{
    width: 1px;
    height: 1px;
}
.radio{
    display: flex;
    flex-direction: row;
}