.color-picker{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.color{
    margin: .1em;
    width: 20px;
    height: 20px;
}
.isSelected{
    margin: .1em;
    width: 20px;
    height: 20px;
    transform: scale(.7);
}