.color-picker{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.color{
    margin: .1em;
    width: 20px;
    height: 20px;
    transition: transform .1s ease-in-out;
}
.color:hover{
    box-shadow: rgba(0, 0, 0, 0.63) 0px 5px 15px;
    transform: scale(3);
}
.isSelected{
    margin: .1em;
    width: 20px;
    height: 20px;
    border: 1px solid #ffef00;
    transform: scale(.7);
}
